/* Stylesheet by Alex Tarr, 2020 */

/********** LEAFLET CSS ***************/
#mapid { height: 280px;}

/********* HTML document CSS *********/
body {
  background-color: #0398fc;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
